html {
    scroll-behavior: smooth;
  }
body {
    padding: 0;
    margin: 0;
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5;

}

h1 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
}


nav {
    display: flex;
    background: #fff;
    justify-content: space-between;
    padding: 8px 16px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    letter-spacing: 4px;
    z-index: 999;
    position: fixed;
    width: 100%
}

.sections-list {
    list-style-type: none;
    display: inline;
}

nav ul li {
    float: left;
    padding: 8px 16px;
}

.brand {
    padding: 8px 16px;
}
nav ul li a {
    color: black;
    text-decoration: none;
    
}
nav ul li a:visited {
    color: black;
  }


header {
    display: flex;
    justify-content: center;
}

header .img-brand {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #f1f1f1;
    letter-spacing: 4px
}

header .img-brand .BR {
    font-weight: bold;
    background-color: #000;
    padding: 8px 16px;
    opacity: .75
}

.grid-container {
    display: grid;
    grid-template-columns: 13.25% 73.5% 13.25%;
}

.grid-container .section-container {

    padding: 32px 0px 32px 0px;
}

.grid-container .section-container .projects {
    padding: 16px 10px 15px 0px;
    font-family: "Segoe UI", Arial, sans-seri;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    border-color: #f1f1f1;
    scroll-behavior: smooth;
}

.grid-container .projects__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
}

.grid-container div img {
    width: 100%;
}

.grid-container .projects__grid span {
    position: absolute;
    padding: 8px 16px;
    color: #fff;
    background-color: #000;
}




.grid-container .team__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px 16px;
}



.grid-container .team__grid div img {
    width: 100%;
    filter: grayscale(75%);
}


.grid-container .team__grid div span {
    display: block;
}

.grid-container .team__grid div .name {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}

.grid-container .team__grid div .name {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
}

.grid-container .team__grid div .pos {
    opacity: 0.50;
}

.grid-container .team__grid div .cnt-btn {
    width: 100%;
    color: #000;
    background-color: #f1f1f1;
    border: none;
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
}


.grid-container .contact__form input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 16px 0px;
    border: 1px solid #ccc;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.grid-container .contact__form button {
    color: #fff !important;
    background-color: #000 !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.grid-container .contact__form button {
    color: #fff !important;
    background-color: #000 !important;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}


.grid-container .contact__map {
    padding: 48px 0px 8px 0px
}


footer {
    text-align: center;
    padding: 32px;
    color: #fff;
    background-color: #000;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size:16px;
    font-weight: 400;
}